<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li> -->
    </ul>
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <span class="mr-1">
            <img src="{{photoUrl||'../../assets/user.png'}}" alt="">
          </span>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{ authService.decodedToken?.unique_name | titlecase }}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']"
          ><i class="fa fa-user"></i>Edit Profile</a
        >
        <a class="dropdown-divider"></a>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-user"></i>Logout</a>
      </div>
    </div>

    <form
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="username"
        aria-label="username"
        name="username"
        #username="ngModel"
        required
        [(ngModel)]="model.username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
        aria-label="password"
        name="password"
        #password="ngModel"
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</nav>

<!-- <pre>
    Form Valid:{{loginForm.valid}}
    Form Touched:{{loginForm.touched}}
    Form Dirty:{{loginForm.dirty}}
    Form Values:{{loginForm.value|json}}
    username valid:{{username.valid}}
    username Touched:{{username.touched}}
    username dirty:{{username.dirty}}
    username values:{{username.value|json}}
</pre> -->
